.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25vh;
    margin: 7vh 6%;
}
.first-card{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 20vw;
    line-height: 2;
}
.first-card img{
    margin: 20px 0;
    object-fit: contain;
}
.first-card p{
    font-size: 0.9rem;
    color: rgb(131, 131, 131);
}
@media only screen and (max-width: 600px){
    .card{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100vh;
        margin: 1rem auto;
    }
    .first-card{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 50vw;
        line-height: 2;
    }
}
@media only screen and (max-width : 850px){
    .card{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 110vh;
        margin: 1rem auto;
    }
    .first-card{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 50vw;
        line-height: 2;
    }
}