#banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: #f7f7fb;
}
#banner .left-content{
    width: 30vw;
    margin: 0 auto;
  
}
#banner .left-content h2{
    font-size: 3rem;
    margin-bottom: 2rem;
    line-height: 1.2;
}
#banner .left-content p{
    color: #696871;
    line-height: 1.8;
    margin-bottom: 2rem;
}
#banner img{
    width: 32vw;
}

.banner-list{
    width: 40vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.banner-list .banner-inner-list{
    display: flex;
    /* justify-content: space-evenly; */
}
#banner .banner-list .banner-inner-list h2{
    font-size: 1.3rem;
    margin-left: 10px;
}
#banner .banner-list .icon{
    padding: 0.4rem;
    width: 2rem;
    height: 2rem;
    background-color: pink;
    border-radius: 34px;
    color: violet;
}
#banner .banner-list .icon-list{
    margin-left: -31%;
}


@media only screen and (max-width: 700px){
    #banner{
        padding: 2rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        height: 120vh;
    }
    #banner .left-content{
        width: 40vw;
        margin: 0 auto;
      
    }
    #banner .left-content h2{
        font-size: 2rem;
    }
    #banner .left-content p{
        width: 60vw;
        text-align: justify;
    }
    #banner img{
        width: 40vw;
    }
    #banner .banner-list .icon-list{
        margin-left: 0.5rem;
    }
}

@media only screen and (max-width: 1300px){
    #banner .banner-list .icon-list{
        margin-left: 0.6rem;
    }
}